/* Styles for User Profile Section */
.user-profile {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile h2 { 
    font-size: 24px;
    margin-bottom: 15px;
}

.user-details {
    font-size: 16px;
}

.user-details p {
    margin: 5px 0;
}

.user-details strong {
    font-weight: bold;
}

/* Styles for Meals Table */
.meals-table, .meals-today-table {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.meals-table h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f0f0f0;
}


.qr-button{
    font-style: normal;
    color: rgba(6, 18, 68, 0.788); 
    font-size: 30px; 
    cursor: pointer;
}

.qr-button:hover{
    color: rgb(6, 18, 68); 
}